<!-- Navbar section -->

<!-- Navbar area starts -->
<nav class ="fixed-top navbar navbar-expand-lg navbar-dark bg-dark text-white p-3">
    <div class="container-fluid">
        <div class="d-flex align-items-start justify-content-start ">
            <h1 class="navbar-brand text-white text-center"><i class=""></i>Logo goes here</h1>
        </div>
        <button class="navbar-toggler text-white justify-content-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
            <span class="navbar-toggler-icon text-white"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbar">
            <div class="navbar-nav">
                <a class="nav-item nav-link text-white" href="#"><span class="bi bi-house"></span> Home</a>
                <a class="nav-item nav-link text-white" href="#"><span class="bi bi-box-arrow-left"></span> Logout</a>
                <a class="nav-item nav-link text-white" href="#"><span class="bi bi-pencil"></span> Register</a>
                <a class="nav-item nav-link text-white" href="#"><span class="bi bi-box-arrow-in-right"></span> Login</a>
            </div>
        </div> 
    </div>
</nav>
<!-- Navbar area ends -->

<!-- Navbar section end -->