{% extends 'base.html' %}

{% block content %}

<div class="auth">
    <div class="card">
        <div class="auth__header text-center">
            <h3>Register an Account</h3>
        </div>

        <form method="POST" action="{% url 'api-key' %}" class="form auth__form">
            {% csrf_token %}
            <label for="formInput#text">Enter Your Dev.to API Key: </label>
            <input type="password" name="api-key" />
            <div class="auth__actions">
                <input class="" type="submit" value="Submit" />
            </div>
        </form>
        <div class="auth__alternative">
            <p>Already have an Account?</p>
            <a href="{% url 'login' %}">Log In</a>
        </div>
    </div>
</div>

{% endblock content %}