{% extends 'base.html' %}

{% block content %}
  
<div class="">
    
    <div class="m-4">
        <h3>Change Your Password</h3>
    </div>
    
    <div class="">
        <form method="POST" action="{% url 'change_password' %}" class="form">
            {% csrf_token %}
            {% comment %} {{ form }} {% endcomment %}

            <div class="m-4">
                <label class="form-label" for="formInput#text"><h5>{{ form.new_password1.label | title }}</h5></label>
                
                {{ form.new_password1 }}
                
                {% for error in form.new_password1.errors %}
                    <p style="color: red;">{{ error }}</p>
                {% endfor %}
                
                {% if form.new_password1.help_text %}
                    <small>{{ form.new_password1.help_text }}</small>
                {% endif %}
            </div>
            
            <div class="m-4">
                <label class="form-label" for="formInput#text"><h5>{{ form.new_password2.label | title }}</h5></label>
                
                {{ form.new_password2 }}
                
                {% for error in form.new_password2.errors %}
                    <p style="color: red;">{{ error }}</p>
                {% endfor %}
                
                {% if form.new_password2.help_text %}
                    <small>{{ form.new_password2.help_text }}</small>
                {% endif %}
            </div>

            <div class="m-4">
                <input class="btn btn-dark btn-lg" type="submit" value="Change Password" />
            </div>

        </form>

    </div>
    
</div>

{% endblock content %}