{% extends 'base.html' %}

{% block content %}

<div class="">

    <div class="m-4">

        <div class="m-4">
            <h2 class="">Login</h2>
        </div>

        <form action="{% url 'login' %}" method="POST" class="form card-body">
            {% csrf_token %}
            <!-- Input:Username -->
            <div class="m-4">
                <label class="form-label" for="inputUsername"><h5>Username:</h5></label>
                <input class="form-control" id="inputUsername" type="text" name="username"
                    placeholder="Enter your username..." />
            </div>

            <!-- Input:Password -->
            <div class="m-4">
                <label class="form-label" for="inputPassword"><h5>Password:</h5></label>
                <input class="form-control" id="inputPassword" type="password" name="password"
                    placeholder="••••••••" />
            </div>

            <div class="m-4">
                <input class="btn btn-dark btn-lg" type="submit" value="Log In" />
            </div>
        </form>
        
        <div class="m-4">
            <p>Don’t have an Account? <a href="{% url 'register' %}">Sign Up</a></p>
        </div>
        
    </div>
</div>

{% endblock %}