{% extends 'base.html' %}

{% block content %}

<div class="">
    <div class="m-4">
        <div class="m-4">
            <h3>Create An Account</h3>
        </div>
        
        {% if request.path == "/register/" %}
        
        <form method="POST" action="{% url 'register' %}" class="form auth__form">
            {% csrf_token %}
            <div class="m-4">
                <label class="form-label" for="formInput#text"><h5>Enter Your Dev.to API Key:</h5></label>
                <input class="form-control" type="password" name="api-key" />
            </div>
            {% if field.help_text %}
                <small>{{field.help_text}}</small>
            {% endif %}

            {% for error in field.errors %}
                <p style="color: red;">{{ error }}</p>
            {% endfor %}
            <div class="m-4">
                <input class="btn btn-dark btn-lg" type="submit" value="Submit" />
            </div>
        </form>
        
        {% else %}
        
            <form method="POST" action="{% url 'register_details' %}" class="form">
                {% csrf_token %}
              
                <div class="m-4">
                    <label class="form-label" for="formInput#text"><h5>{{ form.username.label | title }}</h5></label>
                    {{ form.username }}
                    {% for error in form.username.errors %}
                        <p style="color: red;">{{ error }}</p>
                    {% endfor %}
                </div>
                
                <div class="m-4">
                    <label class="form-label" for="formInput#text"><h5>{{ form.password1.label | title }}</h5></label>
                    {{ form.password1 }}
                    {% for error in form.password1.errors %}
                        <p style="color: red;">{{ error }}</p>
                    {% endfor %}
                    {% if form.password1.help_text %}
                        <small>{{ form.password1.help_text }}</small>
                    {% endif %}
                </div>
                
                <div class="m-4">
                    <label class="form-label" for="formInput#text"><h5>{{ form.password2.label | title }}</h5></label>
                    {{ form.password2 }}
                    {% for error in form.password2.errors %}
                        <p style="color: red;">{{ error }}</p>
                    {% endfor %}
                    {% if form.password2.help_text %}
                        <small>{{ form.password2.help_text }}</small>
                    {% endif %}
                </div>

                <div class="m-4 ">
                    <h3 class="section-space">Additional Information</h3>
                    <p>In addition to the above username and password that you specified, the below information will also be saved in your profile:</p>
                </div>
                
                <table class="m-4 w-100 table" border=0>
                    <tr class="">
                        <td class=""><label class="form-label" for="formInput#text"><h5>{{ form.account_id.label | title }}</h5></label></td>
                        <td class=""><label class="form-label" for="formInput#text"><h5>{{ form.first_name.label | title }}</h5></label></td>
                        <td class=""><label class="form-label" for="formInput#text"><h5>{{ form.location.label | title }}</h5></label></td>
                    </tr>
                    <tr class="">
                        <td class="">{{ form.account_id }}</td>
                        <td class="">{{ form.first_name }}</td>
                        <td class="">{{ form.location }}</td>
                    </tr>
                    <tr class="">
                        <td class=""><label class="form-label" for="formInput#text"><h5>{{ form.api_key.label | upper }}</h5></label></td>
                        <td class=""><label class="form-label" for="formInput#text"><h5>{{ form.joined_on.label | title }}</h5></label></td>
                        <td class=""><label class="form-label" for="formInput#text"><h5>{{ form.profile_image.label | title }} Location</h5></label></td>
                    </tr>
                    <tr class="">
                        <td class="">{{ form.api_key }}</td>
                        <td class="">{{ form.joined_on }}</td>
                        <td class="">{{ form.profile_image }}</td>
                    </tr>
                    <tr class="">
                        <td class=""><label class="form-label" for="formInput#text"><h5>{{ form.github_username.label | title }}</h5></label></td>
                        <td class=""><label class="form-label" for="formInput#text"><h5>{{ form.twitter_username.label | title }}</h5></label></td>
                        <td class=""><label class="form-label" for="formInput#text"><h5>{{ form.website_url.label | title }}</h5></label></td>
                    </tr>
                    <tr class="">
                        <td>{{ form.github_username }}</td>
                        <td>{{ form.twitter_username }}</td>
                        <td>{{ form.website_url }}</td>
                    </tr>
                    <tr class="">
                        <td class=""><label class="form-label" for="formInput#text"><h5>{{ form.user_summary.label | title }}</h5></label></td>
                    </tr>
                    <tr>
                        <td colspan=3>{{ form.user_summary }}</td>
                    </tr>
                </table>




                <div class="m-4">
                    {% comment %} <input class="btn btn-dark" type="submit" value="Cancel" /> {% endcomment %}
                    <input class="btn btn-dark btn-lg" type="submit" value="Sign Up" />
                    <a class="btn btn-dark btn-lg" href="{% url 'home' %}">Cancel</a>
                </div>

            </form>



        {% endif %}

        {% comment %} <div class="m-4">
            <p>Already have an Account?</p>
            <a href="{% url 'login' %}">Log In</a>
        </div> {% endcomment %}
    </div>
</div>

{% endblock content %}