{% extends 'base.html' %}

{% block content %}

<div class="">
    <div class="m-4">
        <div class="m-4">
            <h3>Create An Account</h3>
        </div>
        
        {% if request.path == "/register/" %}
        
        <form method="POST" action="{% url 'register' %}" class="form auth__form">
            {% csrf_token %}
            <div class="m-4">
                <label class="form-label" for="formInput#text">Enter Your Dev.to API Key: </label>
                <input class="form-control" type="password" name="api-key" />
            </div>
            {% if field.help_text %}
                <small>{{field.help_text}}</small>
            {% endif %}

            {% for error in field.errors %}
                <p style="color: red;">{{ error }}</p>
            {% endfor %}
            <div class="m-4">
                <input class="btn btn-dark" type="submit" value="Submit" />
            </div>
        </form>
        
        {% else %}

            <form method="POST" action="{% url 'register_details' %}" class="form">
                {% csrf_token %}
                {% for field in form %}
                
                    <div class="m-4">
                        <label class="form-label" for="formInput#text">{{ field.label | title }}</label>
                        {{ field }}

                        {% if field.help_text %}
                            <small>{{field.help_text}}</small>
                        {% endif %}

                        {% for error in field.errors %}
                            <p style="color: red;">{{ error }}</p>
                        {% endfor %}

                    </div>

                {% endfor %}

                <div class="m-4">
                    <input class="btn btn-dark" type="submit" value="Sign Up" />
                </div>
            </form>

        {% endif %}

        <div class="m-4">
            <p>Already have an Account?</p>
            <a href="{% url 'login' %}">Log In</a>
        </div>
    </div>
</div>

{% endblock content %}