{% extends 'base.html' %}

{% block content %}

<div class="container m-4">
    <div class="row">
        <div class="col text-start pb-4"><h3>My Profile</h3></div>
    </div>
    <div class="row ">
        <div class="col-3">
            <div class="row">
                <div class="col text-center">
                    <img class="img-fluid rounded-circle" height="250" width="250" src="{{ profile.profile_image }}" />
                </div>
            </div>
            <hr>
            <div class="row ">
                {% if profile.twitter_username %}
                    <div class="col text-center"><a class="text-black" target="_blank" rel="noopener" href="https://twitter.com/{{ profile.twitter_username }}"><i class="bi bi-twitter profile-icon"></i></a></div>
                {% else %}
                    <div class="col text-center"></div>
                {% endif %}  

                {% if profile.github_username %}
                    <div class="col text-center"><a class="text-black" target="_blank" rel="noopener" href="https://github.com/{{ profile.github_username }}"><i class="bi bi-github profile-icon"></i></a></div>
                {% else %}
                    <div class="col text-center"></div>
                {% endif %} 
                
                {% if profile.website_url %}
                    <div class="col text-center"><a class="text-black" target="_blank" rel="noopener" href="{{ profile.website_url }}"><i class="bi bi-link-45deg profile-icon"></i></a></div>
                {% else %}
                    <div class="col text-center"></div>
                {% endif %}
            </div>
        </div>
        <div class="col text-end">
            <h3 class="pb-3">{{ profile.first_name | upper}}</h3>
            <h3 class="pb-3">Summary</h3>
            <p class="text-end">
                {{ profile.user_summary }}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col align-self-end">
            <div class="text-end">
                <a class="btn btn-dark btn-lg" href="{% url 'change_password' %}">Change Password</a>
                <input class="btn btn-dark btn-lg" type="submit" value="Update Profile" />
            </div>
        </div>
    </div>
  </div> 

{% endblock content %}


