.link-break-spacing {
    padding-right: 6px;
    padding-left: 6px;
    font-size: 18px;
}

.section-space {
    margin-top: 3em;
}

.post-function-spacing {
    padding-left: 10px;
}

.alert-message {
    margin-top: 74px;
}

.main-container {
    margin-top: 105px; 
    margin-bottom: 100px; 
}

#image-footer-container {
    position: fixed;
    margin-bottom: 10px; 
    width: 100%; 
    z-index:1;
    
}

#collapsed-menu {
    z-index: 2;
}

.main {
    position:fixed;
    overflow-x: hidden;
}

.header-title-text {
    font-size: 3em;
    color: white;
}