.link-break-spacing {
    padding-right: 6px;
    padding-left: 6px;
    font-size: 18px;
}


.post-function-spacing {
    padding-left: 10px;
}


.main-container {
    margin-top: 120px; 
    margin-bottom: 120px; 
}

#image-footer-container {
    /* overflow: hidden; */
    position: fixed;
    margin-bottom: 10px; 
    width: 100%; 
    z-index:1;

/* .image-header-text-center {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 250px;
    height: 150px;
    border : 0px;
    
} */

#collapsed-menu {
    z-index: 2;
}

.main {
    position:relative;
    overflow-x: hidden;
}

.header-title-text {
    font-size: 3em;
    color: white;
}