.section-space {
    margin-top: 3em;
}

.alert-message {
    margin-top: 74px;
}

.main-container {
    margin-top: 105px; 
    margin-bottom: 150px; 
}

#collapsed-menu {
    z-index: 2;
}

.main {
    position:fluid;
    overflow-x: hidden;
}

.header-title-text {
    font-size: 3em;
    color: white;
}